<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ChattingMapper">
 	
 	
	<resultMap id="chattingSelectMap" type="com.wthealth.domain.Chatting">
		<result property="chattingNo" 			column="chatting_no" 		jdbcType="NUMERIC"/>
		<result property="roomId" 				column="room_id" 			jdbcType="VARCHAR" />
		<result property="user1"				column="user1_id" 			jdbcType="VARCHAR" />
		<result property="user2" 				column="user2_id" 			jdbcType="VARCHAR"  />
		<result property="userImage" 			column="user_image" 		jdbcType="VARCHAR"  />	
	</resultMap>
	
	<!-- SQL : INSERT -->
	<insert 	id="addChatting"		parameterType="com.wthealth.domain.Chatting" >
	 	INSERT
		INTO chatting ( chatting_no , room_id , user1_id , user2_id) 
		VALUES	 (	seq_chatting_chatting_no.nextval , #{roomId} , #{user1} , #{user2})
	 </insert>
	 
	 <!-- SQL : SELECT ONE -->
	 <select 	id="getChatting"	parameterType="int"	resultMap="chattingSelectMap">
		SELECT
			chatting_no , room_id , user1_id , user2_id		
		FROM chatting
		WHERE chatting_no = #{value}
	 </select>
	 
	 <select 	id="getChattingByRoomId"	parameterType="String"	resultMap="chattingSelectMap">
		SELECT
			chatting_no , room_id , user1_id , user2_id		
		FROM chatting
		WHERE room_id = #{value}
	 </select>
	 
	 
	 <select  id="listChatting1"  parameterType="String"	resultMap="chattingSelectMap">
	  	SELECT c.chatting_no , c.room_id , c.user1_id , c.user2_id, u.user_image
											FROM chatting c, users u
											WHERE c.user2_id = #{value} AND c.user2_id = u.user_id <!-- AND delete_status IS NULL OR delete_status='0'    -->
											ORDER BY c.chatting_no
	 </select>
	 
	  <select  id="listChatting2"  parameterType="String"	resultMap="chattingSelectMap">
	  	SELECT c.chatting_no , c.room_id , c.user1_id , c.user2_id, u.user_image
											FROM chatting c, users u
											WHERE c.user1_id = #{value} AND c.user1_id = u.user_id <!-- AND delete_status IS NULL OR delete_status='0'    -->
											ORDER BY c.chatting_no
	 </select>


	 
</mapper>