<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ExInfoMapper">
 	
 	
	<resultMap id="exInfoSelectMap" type="com.wthealth.domain.Post">	
		<result property="postNo" 			column="post_no" 			jdbcType="NUMERIC" />
		<result property="postSubNo" 		column="post_sub_no" 		jdbcType="VARCHAR" />
		<result property="userId" 			column="user_id" 			jdbcType="VARCHAR" />
		<result property="title" 			column="title" 				jdbcType="VARCHAR" />
		<result property="contents" 		column="contents" 			jdbcType="VARCHAR" />
		<result property="photo" 			column="photo" 				jdbcType="VARCHAR" />
		<result property="clickCount" 		column="click_count" 		jdbcType="NUMERIC" />
		<result property="blindStatus" 		column="blind_status" 		jdbcType="VARCHAR" />
		<result property="deleteStatus" 	column="delete_status"		jdbcType="VARCHAR" />
		<result property="likeCount" 		column="like_count" 		jdbcType="NUMERIC" />
		<result property="category" 		column="category" 			jdbcType="VARCHAR" />
		<result property="postDate" 		column="post_date" 			jdbcType="DATE" />
		<result property="exScNo" 			column="ex_sc_no" 			jdbcType="NUMERIC" />
		<result property="dietScNo" 		column="diet_sc_no" 		jdbcType="NUMERIC" />
		<result property="locationTagName"  column="locationtag_name"	jdbcType="VARCHAR" />
		<result property="coordinate" 		column="coordinate" 		jdbcType="VARCHAR" />
		<result property="address" 			column="address" 			jdbcType="VARCHAR" />
	 	<result property="youtube"          column="youtube"             jdbcType="VARCHAR" /> 
		
		<result property="favoriteNo"		column="favorite_no" 		jdbcType="NUMERIC" />
		<result property="favoriteType" 	column="favorite_type" 		jdbcType="VARCHAR" />
		<result property="pressedStatus" 	column="pressed_status" 	jdbcType="VARCHAR" />
		
 		<result property="exInfoNo"	 		column="ex_info_no" 		jdbcType="NUMERIC" />
      	<result property="exCalorie" 		column="ex_calorie" 		jdbcType="NUMERIC" />
      	<result property="exPlace" 			column="ex_place" 		 	jdbcType="VARCHAR" />
      	<result property="exPart" 			column="ex_part" 		 	jdbcType="VARCHAR" />
      	<result property="exVideoTime" 		column="ex_videotime" 		jdbcType="VARCHAR" />		
		
   </resultMap>
	
		  
	<!-- SQL : INSERT :: EX_INFO TABLE 등록-->  
 	   <insert id="addExInfo" parameterType="com.wthealth.domain.Post" useGeneratedKeys="true" keyProperty="postNo">
	
	    	INSERT INTO
	    		post(post_no, post_sub_no, title, contents, user_id, post_date, like_count, category, 
	    		     ex_info_no, ex_calorie, ex_place, ex_part, ex_videotime, delete_status, locationtag_name, coordinate, address, youtube )
	   		VALUES
	    		(seq_post_post_no.nextval, 'EI'||seq_ex_info_ex_info_no.currval, #{title}, #{contents}, #{userId}, sysdate,
	    		 #{likeCount:NUMERIC}, 1, seq_ex_info_ex_info_no.nextval, #{exCalorie:NUMERIC}, #{exPlace:VARCHAR},
	    		 #{exPart:VARCHAR}, #{exVideoTime:VARCHAR}, 0, #{locationTagName:VARCHAR}, #{coordinate:VARCHAR}, #{address:VARCHAR}, #{youtube:VARCHAR})
	    		 
		 <selectKey resultType="int" keyProperty = "postNo" order="AFTER">
        	 SELECT seq_post_post_no.currval FROM dual
     	</selectKey>	
     	
	  </insert>	  
	    
	  
 	<!-- SQL : UPDATE :: 게시물 수정  -->
	 <update 	id="updateExInfo"	parameterType="com.wthealth.domain.Post">
		UPDATE post
         <set>
  			title = #{title},  
  			contents = #{contents}, 
  			photo = #{photo:VARCHAR}, 
  			category = #{category:VARCHAR},
  			ex_calorie = #{exCalorie:NUMERIC}, 
  			ex_place = #{exPlace:VARCHAR}, 
  			ex_part = #{exPart:VARCHAR}, 
  			ex_videotime = #{exVideoTime:VARCHAR},
  			address = #{address:VARCHAR},
  			coordinate = #{coordinate:VARCHAR},
  			locationtag_name = #{locationTagName:VARCHAR},
  			youtube = #{youtube:VARCHAR}
         </set>
       WHERE post_no = #{postNo}
    </update>

 	<!-- SQL : UPDATE :: 게시물 삭제 -->
 	 <update 	id="updateDeleteStatus"	parameterType="com.wthealth.domain.Post">
		UPDATE post
         <set>
 			delete_status = '1'	
         </set>
       WHERE post_no = #{postNo}
    </update> 

	<!-- SQL : SELECT ONE :: 운동정보게시물 조회 -->
	 <select 	id="getExInfo"	parameterType="int" resultMap="exInfoSelectMap">
		SELECT 
  			p.*, u.nickname, u.user_image, u.user_id
	    FROM 
  			post p, users u 
		WHERE
  			post_no = #{value} and p.user_id = u.user_id            
	 </select>
 		 
	<select  id="listExInfoPost"  parameterType="com.wthealth.common.Search"	resultMap="exInfoSelectMap">
	  	SELECT *
	  	FROM (	SELECT inner_table.*, ROWNUM AS row_seq
	  			FROM (		  	
                    SELECT 
                         p.title, p.post_date, p.photo, p.post_no, p.like_count, nick.nickname, NVL(p.blind_status, '0') blind_status    
                    FROM 
                         post p, (SELECT 
                                  	u.user_id, u.nickname
                                  FROM 
                                  	users u, post p
                                  WHERE 
                                 	u.user_id = p.user_id
                                  GROUP BY
                                  	u.user_id, u.nickname) nick 
                    WHERE
                      post_sub_no LIKE '%EI%' AND
                      nick.user_id = p.user_id AND
					  p.delete_status = '0' 
					  <!--   AND p.category = '1'-->
  			
 					    <if test="searchFilter != null ">
					    	<if test="searchFilter == 0">
					    		 AND p.ex_part = '0' 
					    	</if>
					    	<if test="searchFilter == 1">
					    		 AND p.ex_part = '1' 
					    	</if>
					    	<if test="searchFilter == 2">
					    		 AND p.ex_part = '2' 
					    	</if>					    		   	  					    		   	  
					        <if test="searchFilter == 3">
					    		 AND p.ex_part = '3' 
					        </if>
					        <if test="searchFilter == 4">
					    		 AND p.ex_part = '4' 
					        </if>
					   </if>   
					   <if test="searchCondition != null ">
							<if test="searchCondition == 0 and searchKeyword !='' ">
								 AND title LIKE '%'||#{searchKeyword}||'%'
							</if>
							<if test="searchCondition == 1 and searchKeyword !='' ">
							     AND contents LIKE '%'||#{searchKeyword}||'%'
							</if>
						
					  </if> 
			         GROUP BY 
				     	p.title, p.post_date, p.photo, p.post_no, p.like_count, nick.nickname, blind_status
					    	) inner_table                                
	   			WHERE ROWNUM &lt;= #{endRowNum} )
	   WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum} 
	 </select>

	 <select  id="getTotalCount"  parameterType="com.wthealth.common.Search" resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT 
                         p.title, p.post_date, p.photo, p.post_no, p.like_count, nick.nickname      
                    FROM 
                         post p, (SELECT 
                                  	u.user_id, u.nickname
                                  FROM 
                                    users u, post p
                                  WHERE 
                                    u.user_id = p.user_id
                                  GROUP BY
                                    u.user_id, u.nickname) nick 
                    WHERE
                      post_sub_no LIKE '%EI%' AND
                      nick.user_id = p.user_id AND
					  p.delete_status = '0' 
 					    <if test="searchFilter != null ">
					    	<if test="searchFilter == 0">
					    		 AND p.ex_part = '0' 
					    	</if>
					    	<if test="searchFilter == 1">
					    		 AND p.ex_part = '1' 
					    	</if>
					    	<if test="searchFilter == 2">
					    		 AND p.ex_part = '2' 
					    	</if>					    		   	  					    		   	  
					        <if test="searchFilter == 3">
					    		 AND p.ex_part = '3' 
					        </if>
					        <if test="searchFilter == 4">
					    		 AND p.ex_part = '4' 
					        </if>
					   </if>   
					   <if test="searchCondition != null ">
							<if test="searchCondition == 0 and searchKeyword !='' ">
								 AND title LIKE '%'||#{searchKeyword}||'%'
							</if>
							<if test="searchCondition == 1 and searchKeyword !='' ">
							     AND contents LIKE '%'||#{searchKeyword}||'%'
							</if>
						
					  </if>  
			         GROUP BY 
				     p.title, p.post_date, p.photo, p.post_no, p.like_count, nick.nickname 
				) countTable									
	 </select>
	 
	<select  id="listWeatherRecom"  parameterType="com.wthealth.domain.Weather"	resultMap="exInfoSelectMap">
	  	SELECT *
	  	FROM (	SELECT inner_table.*, ROWNUM AS row_seq
	  			FROM (		  	
                    SELECT 
                         p.title, p.post_date, p.photo, p.post_no, p.like_count, nick.nickname     
                    FROM 
                         post p, (SELECT 
                                  	u.user_id, u.nickname
                                  FROM 
                                  	users u, post p
                                  WHERE 
                                 	u.user_id = p.user_id
                                  GROUP BY
                                  	u.user_id, u.nickname) nick 
                    WHERE
                      post_sub_no LIKE '%EI%' AND
                      nick.user_id = p.user_id AND
					  p.delete_status = '0' 

  				  <choose>
   					 <when test="currentWeather == 'Rain' or currentWeather == 'Snow' or temperature gt 30 or temperature lt -15">
    					AND  ex_place = '0'
    				 </when>
					 <otherwise>
					 	 AND  ex_place = '1'
					 </otherwise>
			      </choose>
			         GROUP BY 
				     	p.title, p.post_date, p.photo, p.post_no, p.like_count, nick.nickname
					    	) inner_table                                
	   			WHERE ROWNUM &lt;= 5)
	   WHERE row_seq BETWEEN 1 AND 5
	 </select>
	 
	 	   <!-- SQL : SELECT LIST --> 
   <select id="listExInfoRecom" resultMap="exInfoSelectMap" parameterType="com.wthealth.common.Search">
      SELECT *
      FROM ( SELECT inner_table.* , ROWNUM AS row_seq
      FROM ( SELECT  p.*, u.nickname, u.user_image 
            FROM post p, users u
            WHERE p.user_id = u.user_id 
            AND p.post_sub_no LIKE 'EI%'
      AND p.delete_status = '0'
      AND   ROWNUM &lt;= 10
      ORDER BY p.like_count) inner_table
      WHERE ROWNUM &lt;= #{endRowNum} )
      WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum}
   </select> 
	  
</mapper>