<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="RefundMapper">

	<resultMap id="refundSelectMap" type="com.wthealth.domain.Refund">
		<result property="refundNo" column="refund_no" jdbcType="NUMERIC" />
		<result property="refundDate" column="refund_date" jdbcType="DATE" />
		<result property="refundMoney" column="refund_money" jdbcType="NUMERIC" />
		<result property="bankName" column="bank_name" jdbcType="VARCHAR" />
		<result property="bankCode" column="bank_code" jdbcType="NUMERIC" />
		<result property="dateOfBirth" column="date_of_birth" jdbcType="NUMERIC" /> 
		<result property="holder" column="holder" jdbcType="VARCHAR" />
		<result property="accountNum" column="account_num" jdbcType="VARCHAR" />
		<result property="refundReqDate" column="refund_req_date" jdbcType="DATE" />
		<result property="userId" column="user_id" jdbcType="VARCHAR" />
		<result property="refundStatus" column="refund_status" jdbcType="VARCHAR" />
	</resultMap>

	<!-- SQL : INSERT -->
	<insert id="addRefund" parameterType="com.wthealth.domain.Refund">
		INSERT
		INTO refund(refund_no, refund_req_date, refund_money, bank_name, bank_code, holder, account_num,
		refund_date, user_id, refund_status, date_of_birth)
		VALUES
		(seq_refund_refund_no.nextval, SYSDATE, #{refundMoney}, #{bankName}, #{bankCode}, #{holder},
		#{accountNum}, #{refundDate:DATE}, #{userId}, '0', #{dateOfBirth})
	</insert>
	
	<select id="getRefund" resultMap="refundSelectMap" parameterType="int">
		SELECT *
		FROM refund
		WHERE refund_no = #{refundNo}
	</select>
	
	<!-- SQL : UPDATE -->
	<update id="updateRefund" parameterType="com.wthealth.domain.Refund">
		UPDATE refund
		<set>
			refund_status = '1',
			refund_date = SYSDATE
		</set>
		WHERE refund_no = #{refundNo}
	</update>
	
	<!-- SQL : SELECT LIST -->
	<select id="listRefund" resultMap="refundSelectMap"	parameterType="map">
		SELECT *
		FROM ( SELECT inner_table.* , ROWNUM AS row_seq
			FROM ( SELECT *
				FROM refund
			WHERE user_id = #{userId:VARCHAR}
			<if test="search.searchFilter == 0">
				AND refund_status = '0'
			</if>
			<if test="search.searchFilter == 1">
				AND refund_status = '1'					
			</if>
		ORDER BY refund_no) inner_table
		WHERE ROWNUM &lt;= #{search.endRowNum} )
		WHERE row_seq BETWEEN #{search.startRowNum}
		AND
		#{search.endRowNum}
	</select>
	<!-- 위 두번째 subQuery 의 WHERE ROWNUM &lt;= #{endRowNum} ) 는 WHERE ROWNUM <= 
		#{endRowNum} ) 의미이며.. < 는 keyword 로 &lt; 를 사용. <![CDATA[ ~~~ ]]> 를 이용하여 아래와 
		같이 사용 할 수 있다. CDATA ==> Character Data 의 의미 Java 에서 \n 같은 특수문자 처리 WHERE ROWNUM 
		<![CDATA[ <=]]> #{endRowNum} ) -->

	<!-- SQL : SELECT LIST -->
	<select id="listRefundAdmin" resultMap="refundSelectMap" parameterType="com.wthealth.common.Search">
		SELECT *
		FROM ( SELECT inner_table.* , ROWNUM AS row_seq
			FROM ( SELECT *
				FROM refund
		<where>
			<if test="searchFilter == 0">
				refund_status = '0'
			</if>
			<if test="searchFilter == 1">
				refund_status = '1'					
			</if>
		</where>
		ORDER BY refund_no) inner_table
		WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum}
		AND
		#{endRowNum}
		</select>
	<!-- 위 두번째 subQuery 의 WHERE ROWNUM &lt;= #{endRowNum} ) 는 WHERE ROWNUM <= 
		#{endRowNum} ) 의미이며.. < 는 keyword 로 &lt; 를 사용. <![CDATA[ ~~~ ]]> 를 이용하여 아래와 
		같이 사용 할 수 있다. CDATA ==> Character Data 의 의미 Java 에서 \n 같은 특수문자 처리 WHERE ROWNUM 
		<![CDATA[ <=]]> #{endRowNum} ) -->
	
	
	<!-- SQL : SELECT ROW Count -->
	<select id="getTotalCount" parameterType="map" resultType="int">
		SELECT COUNT(*)
		FROM( SELECT *
			FROM refund
			WHERE user_id = #{userId:VARCHAR}
			<if test="search.searchFilter == 0">
				AND refund_status = '0'
			</if>
			<if test="search.searchFilter == 1">
				AND refund_status = '1'					
			</if>
		) countTable
	</select>

	<select id="getTotalCountForAdmin" parameterType="com.wthealth.common.Search" resultType="int">
		SELECT COUNT(*)
		FROM( SELECT *
			FROM refund
		<where>
			<if test="searchFilter == 0">
				refund_status = '0'
			</if>
			<if test="searchFilter == 1">
				refund_status = '1'					
			</if>
		</where>
		) countTable
	</select>
</mapper>

